## Importing all the libraries

In [1]:
#Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib as plt

## Loading the data and having a first look

In [2]:
#Importing species data and having a firt look
parks = pd.read_csv('parks.csv')
print(parks.head())

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [3]:
#Importing parks data and having a firt look
species = pd.read_csv('species.csv')
print(species.head())

  Species ID             Park Name Category         Order    Family  \
0  ACAD-1000  Acadia National Park   Mammal  Artiodactyla  Cervidae
1  ACAD-1001  Acadia National Park   Mammal  Artiodactyla  Cervidae
2  ACAD-1002  Acadia National Park   Mammal     Carnivora   Canidae
3  ACAD-1003  Acadia National Park   Mammal     Carnivora   Canidae
4  ACAD-1004  Acadia National Park   Mammal     Carnivora   Canidae

          Scientific Name                                       Common Names  \
0             Alces alces                                              Moose
1  Odocoileus virginianus  Northern White-Tailed Deer, Virginia Deer, Whi...
2           Canis latrans                             Coyote, Eastern Coyote
3             Canis lupus        Eastern Timber Wolf, Gray Wolf, Timber Wolf
4           Vulpes vulpes  Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...

  Record Status     Occurrence  Nativeness Abundance Seasonality  \
0      Approved        Present      Native      Rare    Resident
1      Approved        Present      Native  Abundant         NaN
2      Approved        Present  Not Native    Common         NaN
3      Approved  Not Confirmed      Native       NaN         NaN
4      Approved        Present     Unknown    Common     Breeder

  Conservation Status Unnamed: 13
0                 NaN         NaN
1                 NaN         NaN
2  Species of Concern         NaN
3          Endangered         NaN
4                 NaN         NaN

C:\Users\kimka\AppData\Local\Temp\ipykernel_18240\2715029833.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  species = pd.read_csv('species.csv')

Investigating on the Quality of teeh data

In [4]:
#Checking the quality of the data any missing values for the park dataset
print(parks.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Park Code  56 non-null     object
 1   Park Name  56 non-null     object
 2   State      56 non-null     object
 3   Acres      56 non-null     int64
 4   Latitude   56 non-null     float64
 5   Longitude  56 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.8+ KB
None

In [5]:
#Looking for missing values
print(parks.isnull().sum())

Park Code    0
Park Name    0
State        0
Acres        0
Latitude     0
Longitude    0
dtype: int64

In [6]:
#Checking for duplicates
print(parks.duplicated().sum())

0

In [7]:
#Checking the number of values and if there are any missing values for the species dataset
print(species.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119248 entries, 0 to 119247
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Species ID           119248 non-null  object
 1   Park Name            119248 non-null  object
 2   Category             119248 non-null  object
 3   Order                117776 non-null  object
 4   Family               117736 non-null  object
 5   Scientific Name      119248 non-null  object
 6   Common Names         119248 non-null  object
 7   Record Status        119248 non-null  object
 8   Occurrence           99106 non-null   object
 9   Nativeness           94203 non-null   object
 10  Abundance            76306 non-null   object
 11  Seasonality          20157 non-null   object
 12  Conservation Status  4718 non-null    object
 13  Unnamed: 13          5 non-null       object
dtypes: object(14)
memory usage: 12.7+ MB
None

In [8]:
#Looking for missing values
print(species.isnull().sum())

Species ID                  0
Park Name                   0
Category                    0
Order                    1472
Family                   1512
Scientific Name             0
Common Names                0
Record Status               0
Occurrence              20142
Nativeness              25045
Abundance               42942
Seasonality             99091
Conservation Status    114530
Unnamed: 13            119243
dtype: int64

In [9]:
#Checking for duplicates
print(species.duplicated().sum())

0

In [10]:
#Chechikng the lenght of both datasets
print(species.__len__())
print(parks.__len__())

119248
56

## Dealling with the Missing Values

During the investigation of both datasets, it was observed that the species dataset contained a high number of missing values, while the park dataset was considered to be complete. The species dataset had missing values primarily in the following categories: 
- Order
- Family
- Occurrence
- Nativeness
- Abundance
- Seasonability
- Conservation Status

In any data analysis, missing or duplicated values must be appropriately addressed to prevent misleading results. Given the scientific nature of the data, any incorrect modifications of the data have the potential to corrupt the final results. Furthermore, drastic or misplaced data manipulation could similarly result in inaccuracies in further analyses. Therefore, identifying an appropriate method for data replacement is essential to ensure the accuracy and integrity of the final analysis.

Considering the significant amount of missing data in several columns, particularly in the "Conservation Status" column, deleting rows is not a viable option as it would result in the loss of valuable information. Therefore, alternative methods such as creating a Machine Learning model or performing imputation are necessary. However, due to the high proportion of missing values, these options could lead to data bias, which should be taken into account when selecting an approach.

To facilitate some parts of the analysis, multiple "species" dataframes will be created, each with different methods of handling missing values: 
- species_df1: This dataframe will maintain all of the nan values.
- species_df2: This dataframe will exclude the columns "Conservation Status" and "Seasonality," and imputation using the median will be used to replace the remaining nan values.
- species_df3: This dataframe will exclude the columns "Conservation Status" and "Seasonality," and imputation using the mean will be used to replace the remaining nan values.

Comparing the results obtained from each of these dataframes can provide a broader understanding of the data and ensure the accuracy of the analysis.

In [15]:
#dataset one with the initianel non cleaned dataset
species_df1 = species
print(species.__len__())

119248

In [12]:
#Creating the second dataset
species_del_col = species.drop(columns=["Seasonality", "Conservation Status"])

print(species_del_col.__len__())

119248

In [19]:
#Creating the third dataset
species_df2 = species.fillna(species.median())

#print(species_df2.isnull().sum())

C:\Users\kimka\AppData\Local\Temp\ipykernel_18240\732385995.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  species_df2 = species.fillna(species.median())

In [20]:
print(species_df2.isnull().sum())

Species ID                  0
Park Name                   0
Category                    0
Order                    1472
Family                   1512
Scientific Name             0
Common Names                0
Record Status               0
Occurrence              20142
Nativeness              25045
Abundance               42942
Seasonality             99091
Conservation Status    114530
Unnamed: 13            119243
dtype: int64

In [21]:
#Creating the third dataset
species_df3 = species.fillna(species.mean())

#print(species_df3.isnull().sum())

In [14]:
#Dealing with the many missng values present in the Species dataset

It is essential to consider that the final results of this analysis may be biased due to the drastic measures taken during the handling of missing values. Despite conducting the analysis with care and effort, the results obtained may not entirely represent the reality of the situation.

To obtain more accurate results, it would have been preferable to use a Machine Learning model to replace the missing values in one of the dataframes. This would then allow multiple dataframes to be analyzed and compared to ascertain the validity of the results. This approach would minimize the impact of data loss while ensuring that the analysis is as accurate as possible.