Importing all the libraries

In [7]:
#Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib as plt

Loading the data and having a first look

In [8]:
#Importing species data and having a firt look
parks = pd.read_csv('parks.csv')
print(parks.head())

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [9]:
#Importing parks data and having a firt look
species = pd.read_csv('species.csv')
print(species.head())

  Species ID             Park Name Category         Order    Family  \
0  ACAD-1000  Acadia National Park   Mammal  Artiodactyla  Cervidae
1  ACAD-1001  Acadia National Park   Mammal  Artiodactyla  Cervidae
2  ACAD-1002  Acadia National Park   Mammal     Carnivora   Canidae
3  ACAD-1003  Acadia National Park   Mammal     Carnivora   Canidae
4  ACAD-1004  Acadia National Park   Mammal     Carnivora   Canidae

          Scientific Name                                       Common Names  \
0             Alces alces                                              Moose
1  Odocoileus virginianus  Northern White-Tailed Deer, Virginia Deer, Whi...
2           Canis latrans                             Coyote, Eastern Coyote
3             Canis lupus        Eastern Timber Wolf, Gray Wolf, Timber Wolf
4           Vulpes vulpes  Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...

  Record Status     Occurrence  Nativeness Abundance Seasonality  \
0      Approved        Present      Native      Rare    Resident
1      Approved        Present      Native  Abundant         NaN
2      Approved        Present  Not Native    Common         NaN
3      Approved  Not Confirmed      Native       NaN         NaN
4      Approved        Present     Unknown    Common     Breeder

  Conservation Status Unnamed: 13
0                 NaN         NaN
1                 NaN         NaN
2  Species of Concern         NaN
3          Endangered         NaN
4                 NaN         NaN

C:\Users\kimka\AppData\Local\Temp\ipykernel_20392\2715029833.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  species = pd.read_csv('species.csv')

Investigating on the Quality of teeh data

In [12]:
#Checking the quality of the data any missing values for the park dataset
print(parks.info())
print(parks.)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Park Code  56 non-null     object
 1   Park Name  56 non-null     object
 2   State      56 non-null     object
 3   Acres      56 non-null     int64
 4   Latitude   56 non-null     float64
 5   Longitude  56 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.8+ KB
None

In [17]:
#Looking for missing values
print(parks.isnull().sum())

Park Code    0
Park Name    0
State        0
Acres        0
Latitude     0
Longitude    0
dtype: int64

In [19]:
#Checking for duplicates
print(parks.duplicated().sum())

0

In [13]:
#Checking the number of values and if there are any missing values for the species dataset
print(species.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119248 entries, 0 to 119247
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Species ID           119248 non-null  object
 1   Park Name            119248 non-null  object
 2   Category             119248 non-null  object
 3   Order                117776 non-null  object
 4   Family               117736 non-null  object
 5   Scientific Name      119248 non-null  object
 6   Common Names         119248 non-null  object
 7   Record Status        119248 non-null  object
 8   Occurrence           99106 non-null   object
 9   Nativeness           94203 non-null   object
 10  Abundance            76306 non-null   object
 11  Seasonality          20157 non-null   object
 12  Conservation Status  4718 non-null    object
 13  Unnamed: 13          5 non-null       object
dtypes: object(14)
memory usage: 12.7+ MB
None

In [20]:
#Looking for missing values
print(species.isnull().sum())

Species ID                  0
Park Name                   0
Category                    0
Order                    1472
Family                   1512
Scientific Name             0
Common Names                0
Record Status               0
Occurrence              20142
Nativeness              25045
Abundance               42942
Seasonality             99091
Conservation Status    114530
Unnamed: 13            119243
dtype: int64

In [21]:
#Checking for duplicates
print(species.duplicated().sum())

0

Dealling with the Missing Values

While investigating the quality of both datasets, the species set has demostrated an abundant level of missing values. While, the park data frame is considered to be intact. The missing values are mostly located in the below categories:
- Order
- Family
- Occurrence
- Nativeness
- Abundance
- Seasonability
- Conservation Status

When analysisng data, missing or duplicated values have to be dealt with adequatly, to avoid any missleading result. Due to the scientifical nature of the data, any incorect modifications of the data could corrupt the final results. In addition, any drastical or data misplacement could equaly result on futher analysis being inacurate. Finding the adequate data raplacement alternative is essential.

In [ ]:
#Dealing with the many missng values present in the Species dataset